* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #47c8ff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 10px;
}
a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/bg/bg-mob.png") center/cover no-repeat;
  z-index: -1;
}

body {
  background: center/cover url("img/bg/bg-mob.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  /* padding: 0 10px; */
}

.dif-font {
  font-family: "DS-Digital", sans-serif;
}

.fl-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  flex-direction: column;
  padding: 100px 10px 0 10px;
}

h1 {
  color: white;
  font-size: 4em;
  font-weight: 800;
  text-align: center;
}

.sub-hero {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.btn-active {
  border-radius: 21px;
  border: none;
  padding: 0.5em 2em;
  font-size: 1.2em;
  font-weight: 600;
  background-color: var(--cyan);
  margin-top: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 10px 4px rgba(71, 200, 255, 0.3);
  box-shadow: 0px 1px 10px 4px rgba(71, 200, 255, 0.3);
}

.btn-active:hover {
  transform: scale(102%);
  transition: 150ms ease-in-out;
}

.gap {
  margin: 100px 0;
}
.gap2 {
  margin: 200px 0;
}

.hero-img img {
  width: 80%;
  padding: 0 10px;
}

.btn-info {
  border-radius: 21px;
  border: none;
  padding: 0.6em 2em;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
}

.header {
  color: white;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  padding: 0 10px;
}

.inner {
  padding: 0 20px;
}

.me {
  flex-direction: column;
  background: center/cover url("img/bg/card-bg.jpg");
  border-radius: 30px;
  padding: 0 20px 50px 20px;
}

.me-main {
  color: white;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.me-sub {
  color: white;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
}

.portfolio {
  flex-direction: column;
  gap: 100px;
  width: 100%;
  background: center/cover url("img/bg/aurora2.png");
  padding: 10px 0;
}

.project {
  flex-direction: column;
  padding: 10px;
}

.project-name {
  color: white;
  font-weight: 600;
  text-underline-offset: 7px;
  text-decoration: 1px underline rgba(255, 255, 255, 0.2);
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}

.project-name:hover {
  color: rgb(210, 231, 255);
}

.credentials {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.opinion {
  color: white;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  transform: rotateZ(5deg);
}

.main-opinion {
  font-size: 1em;
  font-weight: 200;
}

.sub-opinion {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 500;
}

.me-sub {
  margin-top: 10px;
  font-weight: 200;
}

.opinion:nth-child(2n) {
  transform: rotateZ(-1deg);
}
.opinion:nth-child(3n) {
  transform: rotateZ(3deg);
}

.btn-language {
  color: white;
}

.btn-language:hover {
  background-color: #0b003b6b;
}

.logo {
  width: 35%;
}

.fl-just {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
